body {
    color: black;
    font-family: 'Courier', monospace;
    font-size: 12px;
    line-height: 1.2;
}

h1 {
    color: navy; /* Color seguro */
    font-size: 24px; /* El doble del texto base */
    text-shadow: 2px 2px blue; /* Sombra de color azul */
    text-transform: capitalize; /* Primera letra en mayúscula */
    word-spacing: 5px; /* Espaciado entre palabras */
}

.listado {
    text-align: center;
    text-decoration: underline;
}

#enlace {
    color: gray;
    text-decoration: italic;
}

#enlace:visited {
    color: red;
    font-weight: bold;
    text-decoration: underline double;
}
