body {
    font-family: Arial, sans-serif;
    line-height: 27px;
    margin: 0;
    padding: 0;
    background-color: #4a465b;
}

header {
    background-color: #161f26;
    padding: 20px;
    color: #fff;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #000;
    color: #fff;
}

section {
    padding: 20px;
    color: #000;
}

article {
    margin-bottom: 20px;
}

article h2 {
    margin: 0;
}

aside {
    background-color: #161f26;
    padding: 20px;
    color: #fff;
}

aside h2 {
    color: #ff8000;
}

aside p {
    color: #fff;
}

aside p:hover {
    color: #8f8f8f;
}